In [ ]:
import numpy as np
import pandas as pd

from testing_data import *
import data_types as types
import df_mappings as map
import text_exploration as texplo

# 2. Mappings

In [ ]:
# Print out the names of all the functions in the df_mappings module
print([item for item in dir(map) if not item.startswith('__')])

['foreign_k2k', 'map_col2col', 'occurrences', 'pd', 'xs2xs', 'xs2ys']

### 2.1 Which values are in the same position?
`maps.map_col2col`: given 2 columns in a data frame (or any two same length columns), one might be interested in how they map onto each other. Is it a 1 to 1 mapping? Does it define a function? And if so, is the function injective of surjective?

The following function, given col_1 and col_2, returns, for each value in col_1, how many values it is associated to in col_2:

In [ ]:
# help(map.map_col2col)

Help on function map_col2col in module df_mappings:

map_col2col(series_1, series_2)

In [ ]:
# Try it out here:
print(df_maps1, '\n')
print(map_col2col(df_maps1.b, df_maps1.c))

   a  b      c
0  1  1  lollo
1  2  3  gigio
2  3  1  lollo
3  4  3  gigio
4  3  1  lollo

   gigio  lollo
1  False   True
3   True  False

By calling `map_count(col_1, col_2)` and then `map_count(col_2, col_1)`, one will be able to determine the relation between the two columns.

### 2.2 Can 2 same type series get a 1 to 1 mapping?
`map.foreign_k2k`: are you wandering whether two columns from different tables have the same unique values?

In [ ]:
# help(map.foreign_k2k)

Help on function foreign_k2k in module df_mappings:

foreign_k2k(series_1, series_2, df1_name='table1', df2_name='table2', n_matches=-1, mode='>')

In [9]:

map.foreign_k2k(df_maps2.a, df_maps2.b)

   table1.a_values  matches_in_table2.b > -1
0                1                         2
1                2                         0
2                3                         1
3                4                         0

### 2.3 xs2xs

In [4]:
print(map.xs2xs(iter_1, iter_2))
# print(map.xs2xs(iter_1, iter_2, name_1 = 'A', name_2 = 'B'))
# print(map.xs2xs(iter_1, iter_2, name_1 = 'A', name_2 = 'B', values = iter_1))

iter_1: #NaNs : 2 (20.00%) | #unmatched: 1 (12.50%) | 1 to 1 mappings: 87.50%
iter_2: #NaNs : 1 (12.50%) | #unmatched: 2 (25.00%) | 1 to 1 mappings: 75.00%
   selected_values  occurrences in iter_1  occurrences in iter_2
0              8.0                      0                      1
1              2.0                      1                      0
2              6.0                      1                      0
3              1.0                      1                      1
4              4.0                      1                      1
5              5.0                      1                      2
6              NaN                      2                      1
7              3.0                      3                      2