In [ ]:
import numpy as np
import pandas as pd

from testing_data import *
import data_types as types
import df_mappings as map
import text_exploration as texplo

# 1. Data Types

In [ ]:
# Print out the names of all the functions in the data_types module
print([item for item in dir(types) if not item.startswith('__')])

['col_types', 'nan2nan', 'pd']

### 1.1 Explore types with `col_types()`
`types.col_types(df)` prints out the number of element types found in each column of a given pandas Data Frame:

In [ ]:
# help(types.col_types)

Help on function col_types in module data_types:

col_types(df)
    '
    In: a data frame df
    Out: prints the number of element types found in each column of a given df

In [42]:
print(df_multitype,'\n')

types.col_types(df_multitype)

   Column1 Column2 Column3
0      1.0       A    True
1      2.5       B   False
2      3.0       C     NaN
3      4.8       D       1
4      5.0       5   Mixed

Column1
<class 'float'>    5
Name: count, dtype: int64
 NaN values:  0

Column2
<class 'str'>    4
<class 'int'>    1
Name: count, dtype: int64
 NaN values:  0

Column3
<class 'bool'>     2
<class 'float'>    1
<class 'int'>      1
<class 'str'>      1
Name: count, dtype: int64
 NaN values:  1

### 1.2 Explore Same-Row NaNs with `nan2nan`
`types.nan2nan` serves to answer the question: Are NaN values in col_1 also NaN in col 2?

In [ ]:
# help(types.nan2nan)

Help on function nan2nan in module data_types:

nan2nan(df, col_1_name, col_2_name)
    Given 2 columns in a data frame df, this function
    returns a list with the number of NaNs in the first,
    The number of NaNs in the second,
    And the number fo rows where both cols have NaN value

In [41]:
print(df_nans,'\n')

types.nan2nan(df_nans, 'Column1', 'Column2')

   Column1 Column2 Column3
0      1.0       A    True
1      NaN       B     NaN
2      NaN     NaN     NaN
3      4.0     NaN    True
4      5.0       E   False

NaN values in Column1:  2

NaN values in Column2:  2

NaN values in the same row for both Column1 and Column2:  1