In [ ]:
import numpy as np
import pandas as pd

from testing_data import *
import data_types as types
import df_mappings as map
import text_exploration as texplo

# 3. Explore your text fields

In [ ]:
# Print out the names of all the functions in the text_exploration module
print([item for item in dir(texplo) if not item.startswith('__')])

['finals', 'initials', 'pd']

### 3.1 Need trimming?
A long column of strings sometimes starts with undesirable characters like brackets or others. Let's quickly check what are the initials of our strings:

In [35]:
help(texplo.initials)

Help on function initials in module text_exploration:

initials(s)

In [34]:
help(texplo.finals)

Help on function finals in module text_exploration:

finals(s)

In [33]:
print(df_text, '\n')

print(texplo.finals(df_text.Column3))

          Column1 Column2    Column3
0       ##apple##     A1     @hello@
1        banana!!     B2   !!world!!
2      %%cherry%%     C3     python
3          date@@     D4     rocks@@
4  @@elderberry@@     E5        None

Column3
@       2
!       1
        1
None    1
Name: count, dtype: int64